.button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding, var(--spacer-sm));
  color: var(--button-color, var(--c-white));
  background: var(--button-background, var(--c-primary));
  transition: background .8s;
  background-position: 50%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  white-space: nowrap;
  border-width: 0;

  &--text {
    --button-border-width: 0;
    --button-padding: 0;
    --button-background: transparent;
    --button-color: var(--c-text);
    --button-text-transform: none;
    --button-text-decoration: underline;
    --button-font-size: var(--font-size--sm);
    --button-font-weight: var(--font-weight--medium);
    --button-box-shadow: none;
    display: inline;
  }
}

